.activity-level-container {
    background: url("../assets/why1.jpg") ;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.activity-level-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 450px;
    backdrop-filter: blur(8px);
}

h2 {
    margin-bottom: 20px;
}

.activity-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.activity-option {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.activity-option:hover,
.selected {
    border-radius:10px ;
    border-color: black;
    background: linear-gradient(135deg, #570303, black);
    color: white;
}

.next-btn {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.next-btn:hover {
    background: darkred;
}
