.complete-profile-container {
    background: url("../assets/why1.jpg") ;
    min-width: 100%;
    min-height: 200%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.complete-profile-box {
    width: 480px;
    height: 580px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(8px);
}

.complete-profile-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.complete-profile-box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}

/* Dropdown & Input Fields */
select, 
input[type="number"], 
input[type="text"], 
input[type="file"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    border-spacing: 10px;
}

/* DOB Group */
.dob-group {
    display: flex;
    justify-content: space-between;
}

.dob-group select {
    width: 32%;
}

/* Input Group */
.input {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
}

/* Profile Picture Upload */
.input label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input[type="file"] {
    border: none;
}

/* Submit Button */
.next-btn {
    width: 100%;
    padding: 12px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.next-btn:hover {
    background-color: grey;
    color: white;
}

