/* Background Overlay */
  .createaccbackground-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 0;
    backdrop-filter: blur(5px); /* Blur effect */
  }
.create-account-container {
    background: url("../assets/why1.jpg") ;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.create-account-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 470px;
    width: 100%;
    backdrop-filter: blur(8px);
        max-height: 600px;
        overflow: scroll;

}
.password-strength-container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.password-strength-line {
    height: 6px;
    width: 100px;
    border-radius: 10px;
    background-color: #ccc;
    transition: background-color 0.3s ease;
}

.password-strength-label {
    font-size: 14px;
    font-weight: bold;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.input-groups {
    width:820px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.password-group {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.role-selection {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

.signup-btn {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.signup-btn:hover {
    background: grey;
    color: white;
  }
.terms, .login-link {
    font-size: 12px;
}
.login-link {
    color: black;
}

.login-link a {
    color: red;
    text-decoration: underline;
}
.login-link a:hover {
    color: grey;
    
}
.role-selection {
    display: flex;
    align-items: center;
    margin: 15px 0;
    justify-content: center;

}

.role-selection label {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.role-selection input[type="radio"] {
    margin-right: 5px;
    cursor: pointer;
    color: red;
}
