/* Background Overlay */
  .forgotpassbackground-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 0;
    backdrop-filter: blur(5px); /* Blur effect */
  }
.forgot-password-container {
    background: url("../assets/background.jpg") ;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password-box {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    backdrop-filter: blur(8px);
}

.forgot-password-box h2 {
    margin-bottom: 10px;
}

.forgot-password-box p {
    color: #666;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background: gray;
    cursor: not-allowed;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.back-to-login {
    width: 100%;
    display: block;
    margin-top: 10px;
    border: 2px solid ;
    border-radius: 0.5rem;
    color: black ;
    text-decoration: none;
    background-color: white;
}
.back-to-login:hover {
    color: white;
    background-color: grey;
}