.homepage {
  font-family: Arial, sans-serif;
  color: white;
  background: white;
}
/* Home Section */
.home {
  background: url("../assets/home.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

.hero-left {
  display: flex;
  align-items: flex-start;
  z-index: 50;
  flex-shrink: 0;
}



.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 50;
  flex: 1;
  margin-top:40px
}
/* Navbar Container */
.navbar {
  background: transparent;
  padding: 16px 28px;
  width: 100%;
  position: fixed; /* Sticks to top */
  top: 0;
  left: 0;
  z-index: 1000; /* Keeps it on top */
  transform: translateY(0);
  transition: transform 0.3s ease, background 0.3s ease-in-out;
}
.navbar.scrolled {
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.navbar.hide {
  transform: translateY(-110%);
}

.navbar.show {
  transform: translateY(0);
}
/* Navbar Flexbox for Centering Links */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: auto;
}

.nav-cta {
  display: none;
}

/* Navigation Links */
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
/* Hover Effect */
.nav-link:hover {
  background: red; /* Highlight effect */
  color: white;
  transform: scale(1.05);
}

/* Active Link Styling (Optional) */
.nav-link.active {
  background: red;
  color: white;
}
.navbar.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  font-size: 42px;
  width: auto;
  margin-bottom: 30px;
}

.overlay h1 {
  margin: 0;
  line-height: 1.1;
  font-weight: 700;
}

.home .socials img {
  width: 30px;
  margin: 0 10px;
}
.socials {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.social {
  font-size: 30px;
  color: #fff;
  transition: color 0.3s ease-in-out;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
}

.social:hover {
  color: red;
  transform: scale(1.2);
}

.get-started-btn {
  display: inline-block;
  background: rgb(224, 0, 0);
  color: white;
  padding: 12px 28px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
}

.get-started-btn:hover {
  background: #d80202;
  transform: scale(1.05);
}

.nav-cta {
  display: none;
}

.hero-join {
  position: relative;
}
.join-now {
  display: inline-block;
  background: rgb(224, 0, 0);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  display: none;
}

/* Stats Section */
.stats {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background: black;
}
.stat-box {
  text-align: center;
}
.stat-box h2 {
  color: white;
}
.stat-box p {
  color: white;
}
/* Section Container */
.why-choose-us {
  text-align: center;
  padding: 60px 20px;
  background: white;
  color: white;
}

/* Section Title */
.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
  position: relative;
  color: black;
  max-width: 50%;
  flex: 1;
  left: 300px;
}

.section-title h2 {
  font-size: 32px;
  color:black;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.section-title h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background: red;
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  border-radius: 2px;
}
/* Flexbox for Content Layout */
.why-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  gap: 60px;
}

/* Left Side - Reasons (2x2 Grid) */
.reasons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  flex: 1;
}

.reason-box {
  background: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.reason-box h2 {
  padding: 10px;
  font-size: 15px;
  font-weight:bold;
  text-align: left;
}
.reason-box p{
  color: white;
  font-size: 12px;
  text-align: left;
}
.reason-box:hover {
  background: red;
  color: white;
}

/* Right Side - Image Layout */
.right-images {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

/* Two Small Images in a Column */
.image-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.img-small {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}
.img-small:hover {
  transform: scale(1.05);
}
/* One Large Image Beside Them */
.img-large {
  width: 220px;
  height: 380px;
  border-radius: 10px;
  object-fit: cover;
}
.img-large:hover {
  transform: scale(1.05);
}
/* Meet Our Trainers Section */
.meettrainers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
  background: #fff;
}
.meettrainers-content {
  max-width: 50%;
  flex: 1;
  text-align: left;
}

.meettrainers-content h2 {
  font-size: 32px;
  color:black;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.meettrainers-content h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background: red;
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  border-radius: 2px;
}
.meettrainers h4 {
  font-size: 18px;
  color: #777;
  margin-bottom: 5px;
}

.meettrainers p {
  font-size: 16px;
  color: #777;
  line-height: 1.6;
}

.explore-button {
  margin-top: 15px;
  padding: 12px 20px;
  background: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.explore-button:hover {
  background: grey;
  color: white;
  transform: scale(1.05);
}

/* Trainer Images */
.meettrainers-list {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.meettrainers-card img {
  width: 180px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
.meettrainers-card img:hover {
  transform: scale(1.05);
}
/* About Us Section */
.about-us {
  background: white;
  padding: 80px 20px;
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  gap: 40px;
}

.about-text {
  flex: 1;
  text-align: left;
}

.about-text h2 {
  font-size: 32px;
  color:black;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.about-text h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background: red;
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  border-radius: 2px;
}
.about-text p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin-top: 15px;
  max-width: 500px;
}

/* About Us Image */
.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* 🔥 Services Section */
.services-section {
background: white;
padding: 80px 20px;
text-align: center;
}

.services-section h2 {
font-size: 32px;
color: black;
font-weight: 700;
margin-bottom: 40px;
position: relative;
}

.services-section h2::after {
content: "";
width: 50px;
height: 3px;
background: red;
position: absolute;
left: 50%;
bottom: -8px;
transform: translateX(-50%);
border-radius: 2px;
}

.services-section p {
color: white;
}
/* 🔹 Grid Layout */
.services-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
max-width: 1100px;
margin: auto;
}

/* 🔥 Service Boxes */
.service-box {
padding: 20px;
border-radius: 10px;
text-align: center;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease, box-shadow 0.3s ease; cursor: pointer;
}

.service-box.red {
background: #c70000;
color: white;
}

.service-box.dark {
background: black;
color: white;
}

/* 🔥 Icons */
.service-box i {
font-size: 40px;
margin-bottom: 10px;
}

/* 🔥 Hover Effect */
.service-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.menu-toggle {
  display: none;
  font-size: 32px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 14px;
  }

  .nav-container {
     justify-content: space-between;
  align-items: center;
  width: 100%;
  }

  .nav-left {
  display: flex;
  align-items: center;
}

.menu-toggle {
  display: block;
  margin-left: auto;
}

  .join {
    position: static;
    margin-top: 10px;
    text-align: center;
  }

  .home {
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    padding: 40px 16px 60px;
  }

  .hero-left {
    margin-bottom: 40px;
  }

  .hero-content {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .overlay {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .socials {
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .join-now {
    display: none;
  }

  .get-started-btn {
    width: 100%;
    text-align: center;
  }

  .stats {
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
  }

  .why-content,
  .about-container,
  .meettrainers {
    flex-direction: column;
    gap: 30px;
  }

  .section-title,
  .meettrainers-content,
  .about-text {
    max-width: 100%;
    text-align: center;
    left: 0;
  }

  .reasons {
    grid-template-columns: 1fr;
  }

  .right-images {
    flex-direction: column;
    align-items: center;
  }

  .img-small,
  .img-large,
  .meettrainers-card img,
  .about-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .menu-toggle {
  display: block;
}

.nav-container {
  justify-content: space-between;
}

.nav-links {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;

  background: rgba(0,0,0,0.95);

  flex-direction: column;

  align-items: center;

  gap: 20px;

  padding: 25px 0;

  display: none;
}

.nav-links.active {
  display: flex;
}

@media (max-width: 768px) {

  .opinions-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .reviews-row {
    flex-direction: column;
    align-items: center;
  }

  .review-card {
    width: 100%;
    max-width: 400px;
  }

  .slider-buttons {
    justify-content: center;
  }

}
}


@media (max-width: 576px) {

  /* NAVBAR */
  .navbar {
    padding: 14px 16px;
    top:0;
  }

  .nav-container {
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .home {
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-left {
    margin-bottom: 40px;
  }

  .hero-content {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .overlay {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .socials {
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .hero-join {
    display: none;
  }

  /* STATS */
  .stats {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  /* WHY CHOOSE US */
  .why-content {
    flex-direction: column;
  }

  .section-title {
    left: 0;
    max-width: 100%;
  }

  .reasons {
    grid-template-columns: 1fr;
  }

  .right-images {
    flex-direction: column;
  }

  /* TRAINERS */
  .meettrainers {
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;
  }

  .meettrainers-content {
    max-width: 100%;
    text-align: center;
  }

  .meettrainers-list {
    justify-content: center;
  }

  /* ABOUT */
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text p {
    max-width: 100%;
  }

  /* SERVICES */
  .services-grid {
    grid-template-columns: 1fr;
  }
}
