/* styles/Overlay.css */
.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background: white;
  padding: 30px 40px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

.overlay-content button {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #570303;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}
.overlay-content button:hover {
  background-color: grey;
  color: white;
  
}
