body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f4f4f4;
  color: black;
}

.trainer-dash {
  display: flex;
  min-height: 100vh;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 0;
}

.main-content {
  margin-left: 250px;
  flex: 1;
  padding: 16px;
  position: relative;
  z-index: 1;
}

.trainerpackages-container {
   background-color: #a00000;
    backdrop-filter: blur(10px); /* Blur effect */
    padding: 24px;
    margin-top: 16px;
    height: 520px;
    width: 1050px;
}

.packageprice-table-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.packageprice-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
}


.packageprice-table th {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.packageprice-table td {
  padding: 12px;  
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #570303;
    color: white;
}


.packageprice-table tbody tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.packageprice-table input {
  width: 100%;
  padding: 6px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
}

.add-packageprice-btn {
  background-color: #570303;
  color: white;
  width: fit-content;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.add-packageprice-btn:hover {
  background-color: white;
  color: #570303;
}

.packagepricesave-btn,
.packagepricecancel-btn {
  margin-right: 5px;
  padding: 6px 12px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.packagepricesave-btn {
  background-color: white;
  color: #570303;
}

.packagepricesave-btn:hover {
  color: white;
  background-color: #570303;
}

.packagepricecancel-btn {
  background-color: white;
  color: #570303;
}

.packagepricecancel-btn:hover {
  background-color: #570303;
  color: white;}

.packagepriceaction-cell {
  position: relative;
}

.packagepricedots {
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  color: white;
}

.packagepricedropdown-menu {
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 6px;
  right: 0;
}

.packagepricedropdown-menu div {
  cursor: pointer;
}

.packagepricedropdown-menu div:hover {
  background-color: #eee;
}
