/* General Styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f4f4f4;
  color: black
  
}

.trainee-dash {
  display: flex;
  min-height: 100vh;
  position: relative;
  background-image: url("../assets/Footer.jpg"); /* Add your background image */
  background-size: cover;
  background-position: center;
  
}

/* Background Overlay */
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 0;
  backdrop-filter: blur(10px); /* Blur effect */
}

/* Main Content */
.main-content {
  margin-left: 250px;
  flex: 1;
  padding: 16px;
  position: relative;
  z-index: 1;
}
  
  /* Container for Content */
  .trainerspro-container {
    background-color: #a00000;
    backdrop-filter: blur(10px); /* Blur effect */
    padding: 24px;
    margin-top: 16px;
    height: 520px;
    width: 1050px;
  }

.search-container {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  margin-left: 500px;
}

.search-container input {
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  border: none;
}
.search-container  input:focus,
.search-container  select:focus {
  outline: none;
  box-shadow: 0 0 0 3px #570303;
}
.search-container select {
  padding: 10px;
  border-radius: 4px;
  border: none;
  width: 150px;
}

.search-container button {
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  background-color: #570303;
  color: white;
  cursor: pointer;
  width: 200px;
  height: fit-content;
}
.search-container button:hover{
  background-color: white;
  color:#570303;
}
.trainers-profiles-container {
  max-width: 1200px; /* Increased max-width for larger containers */
  text-align: center;
}


.trainers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.trainers-card {
  background: linear-gradient(135deg, black, rgb(77, 77, 77));
  padding: 10px;
  border-radius: 8px;
  height: 350px;

}
/* Trainer Card Image */
.trainers-card img {
  width: 150px; /* Reduced width */
  height: 180px; /* Reduced height */
  margin-bottom: 15px;
}

.trainers-card h2 {
  color: white;
  margin: 0;
}

.trainers-card p {
  color: white;
  margin: 5px 0;
}

.ratings {
  color: gold;
  margin: 10px 0;
}

.trainers-card button {
  padding: 5px;
  border-radius: 4px;
  border: none;
  background-color:#570303;
  color:white ;
  cursor: pointer;
  font-size: small;
  font-weight:300;
  width: 130px;
  height: 25px;
  position: relative;
  bottom: 20px;
}
.trainers-card button:hover{
  background-color:white;
  color:#570303 ;
}

.book-session-button {
  margin: 20px;
  width: 200px;
  color:white;
  background-color:#570303;
  margin-left: 3px;
}


@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}