/* General Styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f4f4f4;
  color: black
  
}

.admin-dash {
  display: flex;
  min-height: 100vh;
  position: relative;
  background-image: url("../assets/bg.jpg"); /* Add your background image */
  background-size: cover;
  background-position: center;
  
}

/* Background Overlay */
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 0;
  backdrop-filter: blur(10px); /* Blur effect */
}

/* Main Content */
.main-content {
  margin-left: 250px;
  flex: 1;
  padding: 16px;
  position: relative;
  z-index: 1;
}

/* Container for Content */
.trainerapprovepro-container {
  background-color: #a00000;
  backdrop-filter: blur(10px); /* Blur effect */
  padding: 24px;
  margin-top: 16px;
  height: 520px;
  width: 1050px;
}

