/* General Styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f4f4f4;
  color: black
  
}

.trainee-dash {
  display: flex;
  min-height: 100vh;
  position: relative;
  background-image: url("../assets/Footer.jpg"); /* Add your background image */
  background-size: cover;
  background-position: center;
  
}

/* Background Overlay */
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 0;
  backdrop-filter: blur(10px); /* Blur effect */
}

/* Main Content */
.main-content {
  margin-left: 250px;
  flex: 1;
  padding: 16px;
  position: relative;
  z-index: 1;
}
  
  /* Container for Content */
  .trainerprogress-container {
    background-color: #a00000;
    backdrop-filter: blur(10px); /* Blur effect */
    padding: 24px;
    margin-top: 16px;
    height: 520px;
    width: 1050px;
  }
  
  .trainergoal-progress {
    background-color: white;
    width: 82%;
    padding: 6px;
    margin: 0px;
    border-radius: 8px;
    color: black;
    font-size: 14px; /* Decrease text size */
    position: absolute;
    left: 80px;
  }
  
  .trainerchart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .trainerchart-header h3{
    position: relative;
    left: 40px;
  }
  .trainerchart-header select{
    position: relative;
    right: 20px;
    width: fit-content;
  }
  .trainerchart-box {
    background-color: white;
    height: 250px;
    margin-top: 0px;
    padding: 7px;
  }
  
  .trainergoals-milestones {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-top: 10px;
    width: 85%;
    position: relative;
    left: 60px;
    top: 348px;
  }
  
  .trainermilestones-section {
    background: linear-gradient(135deg, black, rgb(77, 77, 77));
    color: white;
    padding: 8px;
    border-radius: 8px;
    width: 38%;
    height: 120px; /* Set a fixed height */
    overflow-y: auto; /* Enable scrolling if content overflows */
}

  
   .trainermilestones-section h4 {
    margin-bottom: 10px;
  }
  
   .trainermilestones-section ul{
    list-style: none;
    padding: 0;
  }
  
  .trainermilestones-section li {
    margin-bottom: 10px;
    font-size: small;
  }
  
  .trainerset-goal {
    display: flex;
    margin-top: 20px;
  }
  
  .trainerset-goal input {
    padding: 10px;
    border: #570303;
    border-radius: 8px;
    color: #000000;
    width: 330px;
    position: relative;
    top: 240px;
    left: 416px;
  }
  
  .trainerset-goal button {
    padding: 10px ;
    background-color: #570303;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    width: 140px;
    height: fit-content;
    position: relative;
    top: 230px;
    left: 447px;
    font-weight: bold;
  }
  
  .trainerset-goal button:hover {
    background-color: white;
    color:#570303;
  }