/* General Styles */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4;
    color: black
    
  }
  
  .trainer-dash {
    display: flex;
    min-height: 100vh;
    position: relative;
    background-image: url("../assets/Footer.jpg"); /* Add your background image */
    background-size: cover;
    background-position: center;
    
  }
  
  /* Background Overlay */
  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 0;
    backdrop-filter: blur(10px); /* Blur effect */
  }
  
  /* Main Content */
  .main-content {
    margin-left: 250px;
    flex: 1;
    padding: 16px;
    position: relative;
    z-index: 1;
  }
  
  /* Container for Content */
  .trainerdash-container {
    background-color: #a00000;
    backdrop-filter: blur(10px); /* Blur effect */
    padding: 24px;
    margin-top: 16px;
    height: 520px;
    width: 1050px;
  } 
  
  .trainerbox {
    background-color: white;
    color: black;
    padding: 16px;
    width: 200px;
    border-radius: 8px;
    font-weight: bold;
    position: relative;
  }
  
  .trainerboxprofilerating {
    background-color: white;
    color: black;
    padding: 16px;
    width: 200px;
    border-radius: 8px;
    font-weight: bold;
    position: relative;
    left: 770px;
    bottom: 120px;
  }
    
  .trainerclientlist {
    background-color: white;
    color: black;
    padding: 12px;
    width: 260px;
    height: 130px;
    border-radius: 8px;
    font-weight: bold;
    position: relative;
    right: 0px;
    bottom: 170px;
  }
  .trainerclientlist p{
    font-size: 13px;
    margin-bottom: 10px;
  }
  .trainerupcomingsessions {
    background-color: white;
    color: black;
    padding: 12px;
    width: 260px;
    height: 130px;
    border-radius: 8px;
    font-weight: bold;
    position: relative;
    left: 720px;
    bottom: 300px;
  }
  .trainerpiechart-box {
    background-color: transparent;
    padding: 16px;
    border-radius: 8px;
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 130px;
    left: 350px;
  }
  
  .trainerview-btn {
    margin-top: 10px;
    padding: 8px 12px;
    width:140px ;
    background-color: #570303;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    bottom: 6px;
    left: 40px;
  }
  
  .trainerview-btn:hover {
    background-color: white;
    color:#570303;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }